extend layout
block content
    h1#meettheteam Meet the Team!
    div#team-section
        div.ps
            a(href="https://www.linkedin.com/in/bryanesong/" target="_blank") 
                img(src="/images/BryanSongProfilePic.jpg")
            a(href="https://www.linkedin.com/in/jordan-lam-48369615b/" target="_blank") 
                img(src="/images/JordanLamProfilePic.jpg")
            a(href="#") 
                img(src="/images/DavidYipProfilePic.jpg")
            a(href="#") 
                img(src="/images/EvanLamProfilePic.jpg")
        div.ps2
            a
                p.name Bryan Song
                p Co-Founder/ Lead Software Engineer
            a
                p.name Jordan Lam
                p Co-Founder/ UX Researcher
            a
                p.name David Yip
                p Public Relations
            a
                p.name Evan Lam
                p Software Engineer
    p(align-text="center") Our team is all about tackling the problems that people find frustrating and to target their pain points.
            
            



            